@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  /* background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab); */
  background-size: 200% 400%;
  animation: example 10s ease-in-out infinite;

}
@keyframes example {
    /* 0%   {background-color: #340815;}
    20%  {background-color: #5e0813;}
    40%  {background-color: #f66159;} 
    60% {background-color: #6f2f48;}
    80% {background-color: #512d49;}
    100% {background-color: #fdb741;}  */
  
    /* 0%   {background-color: #78d23d;} 
    20%  {background-color: #1e8c45;}
    40%  {background-color: #58bb43;}
    60% {background-color: #c1ff1c;}
    80% {background-color:  #3aa346;}
    100% {background-color:   #3aa346;} */
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100 50%;
    }
    100%{
        background-position: 0 50%;
    }

  }

header {
  padding: 0px;
  margin: 0px;
 margin-top: 0px;
  position: absolute;
  width: 100%;
  /* background-color: #007542; */
  display: inline;
  align-items: center;
  justify-content: space-between;
  background-image:linear-gradient(to left,violet,salmon);
 
}
.logo img {
  float: left;
  max-width: 100%;
  width: 70px;
  height: auto;
  border-radius: 55px;
  border-color: solid #ff5a5a;
}
.nav-right {
 display: grid;
 grid-template-columns: 48% 50%;
 column-gap: 40px;
}
.nav-right input {
  position: relative;
  padding: 20px 55px;
  color: #1d3557;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 30px;
  outline: none;
  border: 1px solid #ff5a5a;
  transition: all 0.42s;
}
input[type=text] {
  width: 270px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 70%;
}
.right-icon {
  margin: 0px;
  padding: 0px;
  margin-left: -480px;
  margin-top: 20px;
}
.right-icon i {
  position: relative;
  right: 32px;
  top: 1px;
  color: #ff5a5a;
  font-size: 20px;
}

.nav1 {
  float: right;
  margin-top: -45px;
}
.nav a {
  position: relative;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 15px 20px;
  transition: 0.5s;
}
.nav a:hover {
  color: #fff;
}
.nav a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid blue;
  border-radius: 15px;
  opacity: 0;
  transition: 0.5s;
}
.nav a:hover span {
  opacity: 1;
}
.nav-icon {
  margin-left: 700px;
  /* padding-left: 80px; */
  margin-top: -45px; 
  float: right;
  display: inline;

}
.nav-icon a {
  position: relative;
  font-size: 15px;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  color:black;
  text-decoration: none;
  padding: 2px 10px;
  transition: 0.5s;
}

.nav-icon a:hover {
  color: #fff;
}
.nav-icon a i {
  padding: 10px;
  font-size: 30px;
}







/* sidebar */
.sidebar{
  position:fixed;
   /* margin-left: 1200px; */
  margin-top: 70px; 
  margin-left: 1250px;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background:rgba(255, 2, 238, 0.393); 
  /* background-color:#ff5a5a; */
  backdrop-filter: blur(20px);
  padding: 6px 14px;
  border-radius: 20px;
}
 .sidebar .logomenu {
  align-items: center;
  width: 100%;
  height: 70px;
}

 .sidebar .logomenu i{
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  font-size: 22px;
  color:black;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
} 
.sidebar .list{
  margin-top: 10px;
}
.list .list-item{
  list-style: none;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
}

.list .list-item a{
  display:grid ;
  grid-template-columns: 80% 20%;
  /* align-items: center; */
  font-size: 18px;
  color:black;
  
  text-decoration: none;
  border-radius: 6px;
  transition: .5s;
}

.list .list-item a i{
  min-width: 50px;
  height: 50px;
  /* background: salmon; */
  text-align: center;
  float: right;
  line-height: 50px;
}
.list .list-item.active a,
.list .list-item a:hover{
  background: rgba(0, 0, 0, 0.5);
}
.sidebar.active{
  width: 260px;
}

/* product section */
.pro-center {
    text-align: center;
    color: #fff;
    width:90%;
    align-items: center;
  }
  .pro-center h1 {
    
    font-size: 65px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 70px;
    color: transparent;
    -webkit-text-stroke: 1px maroon;
    /* background:url(images/back.jpg); */
    /* -webkit-background-clip: text; */
    /* background-position: 0 0; */
    animation: back 20s liner infinite;
    border-radius: 40px;

  }
  @keyframes back{
    100%{
        background-position: 2000px 0;
    }
  }


  .main-product {
    padding: 20px;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
  }
  .row {
    width: 90%;
    height: auto;
    position:relative;
    transition: all.42s;
    cursor: pointer;
  }
  .row img {
    max-width: 90%;
    width: auto;
    height: auto;
    /* background:rgba(255, 2, 238, 0.6); */
    /* border: 2px solid red; */
    padding: 15px 20px 120px;
    border-radius: 40px ;
  }
  .container {
    position: relative;
    width: 100%;
    height: 80vh;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: 100vh;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #008CBA; */
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .container:hover .overlay {
    transform: scale(1);
  }
  
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .top-text {
    position: absolute;
    top: 10%;
    left: 12%;
  }
  .top-text h5 {
    display: inline-block;
    background: #ff5a5a;
    padding: 8px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
  }
  .bottom-text {
    position: absolute;
    bottom: 10%;
    left: 9%;
  }
  .bottom-text {
    /* color: #fff; */
    color:slateblue;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .bottom-text h5 {
    color:slateblue;
    font-size: 18px;
    margin-top: 10px;
  }
  .bottom-text h5 span{
    padding: 10px;
    text-decoration: line-through;
    color:black;
  }
  
  .right-icon1 i {
    color: #fff;
    font-size: 30px;
    background: red;
    width: 55px;
    height: 55px;
    justify-content: center;
    display: inline;
    align-items: center;
    border: 8px solid red;
    border-radius: 50px;
    transition: all.42s;
  }
  .right-icon1 {
    position: absolute;
    right: 15%;
    bottom: 10%;
  }
  
  .hover-icon {
    position: absolute;
    top: 12%;
    right: 12%;
  }
  .row .hover-icon i {
    display: block;
    margin: 10px;
    background: red;
    padding: 12px;
    color: #fff;
    border-radius: 30px;
    transition: all.42s;
    opacity: 0;
  }
  .row:hover .hover-icon i {
    opacity: 1;
  }
  .row .hover-icon i:hover {
    background: #1d3557;
  }

  .divide{
    display: grid;
    grid-template-columns: 90% 10%;
  }

  
  /* footer2 */
  .footer2 {
    position: relative;
    font-size: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: black;
    text-align: center;
  }
  .social-links{
    width: 100%;
    line-height:40px;
  }
  .social-links li{
    font-size: 25px;
    display: inline;
  
  }
   .social-links a  {
    
    padding: 20px;
    margin: 0px;
    height: 40px;
    /* background-color: rgba(212, 10, 10, 0.2); */
    text-align: center;
    border-radius: 50%;
    color: black;
  }
  





  